@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ribeye&display=swap');
@keyframes openEfect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.G-google{
  background-image: url(../../public/woodgoogle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
body {
  font-family: 'Oxygen', sans-serif;
  background-image: url(../../public/woodbg.svg);
  background-size: cover;
}
.backgroud-filter{
  background-color: rgba(0, 0, 0, 0.6);
  height: 130vh;
}
.backgroud-bau{
  animation-name: openEfect;
  animation-duration: 2s;

  background-image: url(../../public/bigmap.svg);
  background-size: 98%;
  background-repeat: no-repeat;

  position: absolute;
  top: 5%;
  left: 2%;
  height: 120%;
  right: 0%;
  
  .container-bau{

    margin-top: 5%;
    margin-left: 18%;

    height: 20vw;
    width: 55%;
  }
  
}
.ribe {
  font-family: 'Ribeye', cursive;
}

.roulette-config {
  background: url(../../public/mapa.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  aspect-ratio: 1 / 1.2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-titles{
  height: 26%;
  display: flex;
  align-items: center;
}
.button-mint{
  height: 10%;
  width: 50%;
  background-image: url('../../public/woodbt.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formRegister{

}
.formLogin{
  margin-left: 10%;

}
.title-registreSe-custon:hover{
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.extract-container{
  background: black;
  height: 150px;
  width: 150px;
}

